<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Some to read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Subscribe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>790F13F41A4CBFAB00F28EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792B45F21A6C4B9C004FDB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>799BEFC01A45DFA600E055F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>799BEFD81A45DFA600E055F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
